.App {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .categoria-menu,
  .plataforma-menu {
    margin-bottom: 20px;
  }
  
  .categoria-menu label,
  .plataforma-menu label {
    margin-right: 10px;
  }
  
  .videojuego-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .videojuego-item img {
    max-width: 100px;
  }